/* My Awesome CSS */

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: #fffcf2;
}
header, footer{
    background-color: #ace894;
}
.site-title{
    color: #4a314d
}
#my-image{
    box-shadow: 0 0 2px 1px #000000;
}
ul{
    list-style-type: square;
}
section li:nth-child(odd){
    background-color: #DFD0F4;
}

/*navigation*/
nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
nav li a {
    display: block;
    border: 1px solid #000000;
    background: #AFEEEE;
  }
nav a:link, a:visited{
    text-decoration: none;
}
nav a:hover{
    background-color: #DA70D6;
}


